{% extends 'base.html.twig' %}

{% block title %}Mój blog{% endblock %}

{% block body %}
<style>
    
</style>

<div class="wrapper">
{# artykuły | o mnie | kontakt #}
    <div>
        <ul>
            <li><a href="articles">Artykuły</a></li>
            <li><a href="about-me">O mnie</a></li>
            <li><a href="contact">Kontakt</a></li>
        </ul>
    </div>
    <div>
        <h2>Ostatni artykuł:</h2>
        <h3>{{ lastArticle.title }}</h3>
        <a href="article/{{ lastArticle.id }}">
            <span>
                {{ lastArticle.content|slice(0,30) ~ '...' }}
            </span>
        </a>
    </div>
</div>
{% endblock %}
