{% extends 'base.html.twig' %}

{% block title %}Podstrona o mnie{% endblock %}

{% block body %}

    <div class="wrapper">
        <h2>O mnie</h2>
        
        {% for information in informations %} 
            <span><b>{{information.key}}:</b> {{information.value}}</span><br />
        {% endfor %}
    </div>

{% endblock %}
