{% extends 'base.html.twig' %}

{% block title %}
  Artykuły
{% endblock %}

{% block body %}
{# {{dump()}} #}
 <div class="">
  <h1>Articles</h1>
    {{ dump(articles) }}
    {% for article in articles %}
      {{ include('articles/article_teaser.html.twig', {article:article}) }}
      <br />  

    {% endfor %}
  </div>

{% endblock %}

