{% extends 'base.html.twig' %}

{% block title %}
  Artykuły
{% endblock %}

{% block body %}

 <div class="">
  <h1>Articles</h1>
    {{ dump(articles) }}
    {% for article in articles %}
      <div class="article"> 
        <div class="div"><a href="{{ article.link }}"><h2>Article title: {{ article.title }}</h2></a></div>
        <div> 
          <span><b>Article content: </b><span>{{article.content}}</span> </span>
          
        </div> <br />
      </div>
    {% endfor %}
  </div>

{% endblock %}

